.comTitle{
    font-size: 50px;
    font-family: 'Ranchers', cursive;
    letter-spacing: 10px;
    text-align:center;
    line-height: 100px;
    margin: auto;
    margin-top: 30px;
    height: 100px;
    outline: 1px solid;
    
}
@media (min-width:1200px) {
    .index_goods {
        color: #333;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .index_goods .part_l {
        width: 59.73646%;
        padding: 60px
    }


    .index_goods .g_section_title {
        letter-spacing: 1px;
        color: #333
    }

    .index_goods .g_section_title .section_subtitle:after {
        background-color: #295bbb
    }

    .index_goods .dot_list {
        color: #333
    }

    .index_goods .dot_list li:after {
        background-color: #295bbb
    }

    .index_goods .dot_list .list_title {
        color: #295bbb
    }

    .index_goods .dot_list .Highlight {
        color: #000
    }
}

.subtitlefeature_list > .item {
    width: 190px
}

@media (min-width:768px) {
    .feature_card_wrap {
        width: 190px;
        height: 240px
    }
}

@media (min-width:921px) {
    .feature_card_wrap {
        -webkit-perspective: 800px;
        perspective: 800px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        width: 190px;
        height: 240px
    }

    .feature_card_wrap .feature_card {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d
    }

    .feature_card_wrap:hover .feature_card {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg)
    }
}

@media (min-width:1920px) {
    .feature_card_wrap {
        width: 240px;
        height: 220px
    }
}

.feature_card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.16);
    -webkit-transition: .6s ease;
    -o-transition: .6s ease;
    transition: .6s ease
}

.feature_card .card_content {
    margin-left: 65px
}

.feature_card .mb_feature_img {
    float: left;
    width: 50px;
    height: 72px
}


.feature_card .feature_img {
    display: none
}

@media (min-width:768px) {
    .feature_card {
        width: 190px;
        height: 240px;
        position: relative;
        background: none;
        padding: 0
    }

    .feature_card .mb_feature_img {
        display: none
    }

    .feature_card .card_content {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        margin-left: 0
    }

    .feature_card .feature_img {
        display: block;
        margin: 0 auto 10px;
        position: relative;
        
    }

    .feature_card  {//移動第三張
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }
}

@media (min-width:1920px) {
    .feature_card {
        width: 240px;
        height: 220px
    }
}

.card_frount {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

@media (-ms-high-contrast:none),
screen and (-ms-high-contrast:active) {
    .card_frount .feature_img {
        max-height: 116px
    }
}

.card_frount .feature_img svg {
    stroke: #295BBB;
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px)
}

@media (min-width:768px) {
    .card_frount {
        background-color: #c7cfdb;
        text-align: center;
        padding: 40px 18px
    }

    .card_frount .feature_img {
        width: 100px;
        height: 116px
    }
}

@media (min-width:1320px) {
    .card_frount {
        padding-top: 35px;
        padding-bottom: 35px
    }
}

.card_back {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.card_back .description {
    color: #888888;
    text-align: center;
    line-height: 20px;
    margin-top: 30px;
    padding: 10px;
   
}

.comp{ 
  font-family: 'Ranchers', cursive;
    letter-spacing: 3px;
    font-size: 25px;
    align-content: center;
    color: black;
}
.card_back .feature_img {
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px)
}

@media (-ms-high-contrast:none),
screen and (-ms-high-contrast:active) {
    .card_back .feature_img {
        max-height: 90px
    }
}

@media (min-width:768px) {
    .card_back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        background-color: #c7cfdb;
        padding: 2px 2px
            
    }

    .card_back .description {
        color: #333333;
        font-size: 13px;
        
    }

  

    .card_back .feature_img {
        width: 80px;
        height: 90px
    }
}

.feature_card_list {
    margin-bottom: 40px
}

.feature_card_list .item {
    margin-bottom: 20px;
        display: flexbox;
}

@media (min-width:768px) {
    .feature_card_list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%
    }

    .feature_card_list .item {
        margin-bottom: 0px
    }
}

@media (min-width:1200px) {
    .feature_card_list {
        margin-bottom: 0
    }
}

.for_mb {
    display: block
}

@media (min-width:1200px) {
    .for_mb {
        display: none
    }
}

.for_pc {
    display: none
}

@media (min-width:1200px) {
    .for_pc {
        display: block
    }
}

@media (min-width:768px) {
    .feature_card_wrap {
        perspective: 1000px;
        -webkit-perspective: 1000px;
        -moz-perspective: 1000px;
        -o-perspective: 1000px;
        -ms-perspective: 1000px;
        vertical-align: top;
        display: block
    }

    .feature_card_wrap .content {
        transition: 0.5s ease-out;
        -webkit-transition: 0.5s ease-out;
        -moz-transition: 0.5s ease-out;
        -o-transition: 0.5s ease-out;
        -ms-transition: 0.5s ease-out;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        backface-visibility: visible;
        -webkit-backface-visibility: visible;
        -moz-backface-visibility: visible;
        -o-backface-visibility: visible;
        -ms-backface-visibility: visible;
        border-radius: 15px;
        position: relative;
        width: 100%;
        height: 100%
    }

    .feature_card_wrap.applyflip .content {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg)
    }

    .feature_card_wrap .content .cardBack,
    .feature_card_wrap .content .cardFront {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        -ms-backface-visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%
            
    }
    .card-front{
  border-radius:5px;
  position:relative;
  width:100%;
  height:100%;
  /*hide backface*/
  backface-visibility:hidden;
  color:#333;
  font-size:1.5rem;
}

    .feature_card_wrap.applyflip .content .cardFront,
    .feature_card_wrap .content .cardFront {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg)
    }

    .feature_card_wrap.applyflip .content .cardBack,
    .feature_card_wrap .content .cardBack {
        transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg)
    }

    .feature_card_wrap.applyflip .content .cardBack,
    .feature_card_wrap .content .cardFront {
        animation: stayvisible 0.5s both;
        -webkit-animation: stayvisible 0.5s both;
        -moz-animation: stayvisible 0.5s both;
        -o-animation: stayvisible 0.5s both;
        -ms-animation: donothing 0.5s;
        -ms-transition: visibility 0s linear 0.17s;
        visibility: visible
    }

    .feature_card_wrap.applyflip .content .cardFront,
    .feature_card_wrap .content .cardBack {
        animation: stayvisible 0.5s both;
        -webkit-animation: stayvisible 0.5s both;
        -moz-animation: stayvisible 0.5s both;
        -o-animation: stayvisible 0.5s both;
        -ms-animation: donothing 0.5s;
        -ms-transition: visibility 0s linear 0.17s;
        visibility: hidden
    }
}

}

@keyframes stayvisible {
    0% {
        visibility: visible
    }

    to {
        visibility: visible
    }
}

@-webkit-keyframes stayvisible {
    0% {
        visibility: visible
    }

    to {
        visibility: visible
    }
}

@-moz-keyframes stayvisible {
    0% {
        visibility: visible
    }

    to {
        visibility: visible
    }
}

@-o-keyframes stayvisible {
    0% {
        visibility: visible
    }

    to {
        visibility: visible
    }
}

@-ms-keyframes donothing {}

.index_perform {
    background-color: #123579
}

.note {
    color: #6989d1;
    font-size: 12px
}

.index_compare {
    color: #fff;
    background-color: #1c2537
}




.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.card-body p + p {
    margin-top: 1rem
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0
}

.card-text:last-child {
    margin-bottom: 0
}

.card-link:hover {
    text-decoration: none
}

.card-link + .card-link {
    margin-left: 1.25rem
}

.card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125)
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125)
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}

.card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0
}

.card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem
}

.card-img {
    width: 100%;
    border-radius: calc(.25rem - 1px)
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}

.card-img-bottom {
    width: 100%;
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px)
}

@media (min-width:576px) {
    .card-deck {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px
    }

    .card-deck .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 15px;
        margin-left: 15px
    }
}

@media (min-width:576px) {
    .card-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }

    .card-group .card {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%
    }

    .card-group .card + .card {
        margin-left: 0;
        border-left: 0
    }

    .card-group .card:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }

    .card-group .card:first-child .card-img-top {
        border-top-right-radius: 0
    }

    .card-group .card:first-child .card-img-bottom {
        border-bottom-right-radius: 0
    }

    .card-group .card:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

    .card-group .card:last-child .card-img-top {
        border-top-left-radius: 0
    }

    .card-group .card:last-child .card-img-bottom {
        border-bottom-left-radius: 0
    }

    .card-group .card:not(:first-child):not(:last-child) {
        border-radius: 0
    }

    .card-group .card:not(:first-child):not(:last-child) .card-img-bottom,
    .card-group .card:not(:first-child):not(:last-child) .card-img-top {
        border-radius: 0
    }
}

.card-columns .card {
    margin-bottom: .75rem
}

@media (min-width:576px) {
    .card-columns {
        -webkit-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        column-gap: 1.25rem
    }

    .card-columns .card {
        display: inline-block;
        width: 100%
    }
}



item{
    float: left;
    display: flex;
}





.clearfixx:after {
    content: '';
    display: table;
    clear: both;
}


img {
    max-width: 100%;
    height: auto;
}


body {
    line-height: 1.6;
}

.wrap {
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
}



.news li {
    float: left;
    width: 10%;
    margin-right: 5px;
    padding: 1px;
    
}

@media(max-width:768px) {
    .news li {
        width: 500%;/*50%記得扣除768px以上的左右margin共4%*/
    }
}

@media(max-width:569px) {
    .news li {
        width: 10%;/*100%記得扣除768px以上的左右margin共4%*/
    }
}



table{
   
    width: 150px;
margin-left:auto; 
margin-right:auto;
    padding: 2px;
    margin: 2px;
    border-collapse: separate;
    box-sizing: border-box;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 60px;
    border-color: #fff;
    font-variant: normal;
}

.td{
    width:400px;
    height: 300px;
    overflow:hidden;
}
