.css-table{
		display: table;
    margin: 50px;
    
	}
	.css-table .thead{
		display:table-header-group;
   
	}
	.css-table .tbody{
		display:table-row-group;
       
	}
	.css-table .tr{
		display:table-row;
        
	}
	.css-table .th, .css-table .td{
		display:table-cell;
        
	
}